.element-node {
	line-height: 1.2;
}

.element-node__data {
	padding-top: 0.5rem;
}

.element-node .element-node {
	padding-left: 2.5rem;
}

.element-node__meta {
	opacity: .1;
	transition: 100ms ease-in;
	font-size: 0.7rem;
	margin-top: .2rem;
	margin-left: .5rem;
}

.element-node__data:hover .element-node__meta {
	opacity: 1;
}

.element-node__props {
	display: grid;
	grid-column: 2;
	grid-template-columns: 6rem 1fr;
	grid-gap: .3rem;
	font-size: 75%;
	margin-left: 1rem;
}

.element-node__props {
	padding: .5rem 0;
}

.element-node__props + .element-node__meta {
	margin-bottom: 1rem;
}

.form_row {
	display: grid;
	grid-column: 2;
	grid-template-columns: 6rem minmax(max-content, 300px);
	grid-gap: .3rem;
	margin-bottom: .3rem;
}

input[readonly] {
    opacity: .3;
}
